/* General setup */
/* Remember to always comment*/


/* nav ul{
  padding: 0;
  mafirgin:0;
  overflow: hidden;
  position:relative;

}

nav ul li{
  float: left;

}

nav ul li a{
  display: block;

} */
