body {
  padding: 0;
  border: 3px solid black;
  background-color: #2017;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: 50px;
  grid-gap: 10px;
  background-image: url(../images/pexels-photo-943907.jpeg);
  padding-left: 20px;
}

#navbar {
  word-spacing: 30px;
  background-color:black;
  font-style: italic;
  font-size: 25px;
  font-weight: bold;
  position: fixed;
  padding: 5px;

}

.block1 {
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 2;
  color:grey;
  border: 0px solid grey;
  padding: 20px;
}

.block2 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 8;
  grid-row-end: 4;
  color: grey;
  border: 0px solid grey;
  background-color: #1A2301;
  font-style: italic;
  font-weight: bold;
}

.block3 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 8;
  border: 0px solid grey;
  background-image: url(../images/Nelisa_bani.jpg);
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #1A2301;
}

.block4 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 9;
  grid-row-end: 13;
  border: 0px solid grey;
  background-image: url(../images/luphumzo.jpg);
  background-size: cover;
}

.block5 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 9;
  grid-row-end: 13;
  border: 0px solid grey;
  background-image: url(../images/aqamile.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color:#1A2301;
}

.block6 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 9;
  grid-row-end: 13;
  color: grey;
  border: 0px solid grey;
  background-image: url(../images/zaida.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.block7 {
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 14;
  grid-row-end: 17;
  border: 0px solid grey;
  color: grey;
  text-align: right;
  text-indent: 25%;
  text-emphasis-position: right;
  padding-right: 10px;
  background-color:#1A2301;
  font-style: italic;
  font-weight: bold;
}

.para {
  grid-column: 6/10;
  position: relative;
  text-align: right;
  text-indent: 20px;
  margin-left: 245px;
  color: grey;
}

.candy {
  grid-column: 1/5;
  grid-row: 14/17;
  width: 249px;
  height: 165px;
  position: relative;
  left: -146px;
  top: -59px;
}

a{
  color: grey;
}
